{% block content %}
<div>
  {% if allow %}
    <a id="django_version_viewer" data-toggle="modal" href="#packageModal">Installed Versions</a>
  {% endif %}
</div>


<!-- Modal -->
<div id="packageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Versions</h4>
        <a href='{% url "django_version_viewer_csv" %}' download>Download CSV</a>
      </div>
      <div class="modal-body">
          <div class="box" id="packages_box">
            <table>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block javascript %}
<script>
  $( "#django_version_viewer" ).click(function() {
    var packages;
    $.ajax({
      type: "GET",
      url: "{% url 'django_version_viewer' %}",
      csrfmiddlewaretoken: '{{ csrf_token }}',
      success: function(data){
        packages = data;
        var html = "<tr><th>Package Name</th><th>Package Version</th></tr>";
        $.each(packages, function(i, val) {
          html += "<tr><td>"+val.package_name+"</td>"+"<td>"+val.package_version+"</td></tr>"
        });
        $('#packages_box>table').html(html);
      },
      error: function(){
      }
    });
  });
</script>
{% endblock %}
